body {
    height: auto;
    background-color: #2e2a23;
    margin: 0;
   
    color: rgba(255,255,255,.3);
    font-weight: 400;
    line-height: 150%;
}

.wrapier {
    width: 100%;
    display: flex;
}

.header {
    width: 100%;
    height: 20px;
    padding: 5px 0 0 10px;
    text-align: left;
}

.table_view {
    width: 100%;
    min-height: 310px;
    margin: 20px 0;
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 45px;
    margin-bottom: 50px;
}

.editor,
.footer {
    width: 100%;
}

.footer {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

.year {
  margin: 5px 0 0 0;
}

.rs {
  height: 30px;
}

.git {
  height: 30px;
}

.panel {
    width: 63%;
    text-align: center;
    height: 100vh;
}

.options {
    width: 37%;
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100vh;
    background-color: #181612;
}

.options_header {
    width: 100%;
    height: 10%;
}

.menu_list {
    width: 350px;
    background-color: #181612;
    display: none;
}


.help {
    width: 100px;
    padding: 7px 15px 7px 15px;
    background: rgba(0,0,0,.2);
    border-radius: 20px;
    color: rgba(255,255,255,.3);
    margin-bottom: 20px;
    cursor: pointer;
}

.help:hover {
    color: rgb(228, 222, 222);
}

.table {
    width: 274px;
    height: 150px;
    transform:  perspective(400px) rotateX(20deg);
    transform-origin: bottom;
    margin: auto;
}

.table_img {
    box-shadow: 0px 30px 10px rgba(0,0,0,.2);
    background: linear-gradient(#dd992d,#cd8c26);
    position: absolute;
    height: 100%;
    width: 100%;
}

.table_top {
    padding: 15px 15px 22px 15px;
}

.item {
    width: 100px;
    animation: itemStart .5s ease-out, item 1s infinite;
    animation-delay: 0s, .5s;
}

.plate {
    border-bottom: solid 5px #DDD;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 8px 0px rgba(0,0,0,.1);
    display: inline-block;
    height: 100px;
    margin: 0 10px;
}

.item:before {
    content: "";
    position: absolute;
    left: calc(50% - 32px);
    top: calc(50% - 32px);
    height: 65px;
    width: 65px;
    border-radius: 60px;
    border-top: solid 6px #CCC;
    opacity: .4;
    background: rgba(255,255,255,1);
}

  @keyframes itemStart {
    0% {
      transform: skew(0deg,0deg) scaleY(1) ;
      animation-timing-function: ease-in;
     }
    40% {
      transform: skew(0deg,0deg) scaleY(.9);
      animation-timing-function: ease-out;
    }
    100% { transform: skew(4deg,0deg) scaleX(1); }
  }
  
  @keyframes item {
    0% { transform: skew(4deg,0deg) scaleX(1); }
    10% { transform: skew(1deg,0deg) scaleY(.9) ; }
    50% { transform: skew(-4deg,0deg) scaleX(1); }
    60% { transform: skew(-1deg,0deg) scaleY(.9) ; }
    100% {transform: skew(4deg,0deg) scaleX(1); }
  }


  .table_legs {
    background: #ac741c;
    height: 15px;
    transform: perspective(160px) rotateX(-40deg);
    margin: -1px 3px;
  }

  .first_leg,
  .second_leg {
    width: 24px;
    height: 10px;
    background: #84570f;
    position: absolute;
    top: 15px;
  }

  .first_leg {
    left: 20px;
  }

  .second_leg {
    right: 20px;
  }

  .editor_container {
    background-color: #221f19;
    width: 90%;
    min-height: 400px;
    margin: 0 auto 15px auto;
    display: flex;

    background-color: #181612;
    border: solid 10px rgba(0,0,0,.35);
    border-radius: 4px;
  }

  .editor_left,
  .editor_right {
    width: 50%;
    height: 100%;
  }

  .editor_header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #221f19;
    border: solid 1px rgb(68, 67, 67);
  }

  .edit_view,
  .css_html {
    margin: 0;
  }

  .edit_view {
    color: rgba(255,255,255,.6);
  }

  .editor_left {
    min-height: 400px;
    background: #efefef;
    border-bottom: solid 1px  rgb(68, 67, 67);
  }

  .editor_right {
    border: solid 1px  rgb(68, 67, 67);
  }

  .editor_code {
    display: flex;
  }

  .editor_left_numbers,
  .editor_right_numbers {
    height: 100%;
    width: 10%;
    max-width: 30px;
    padding: 5px 2px;
  }

  .editor_left_numbers {

    color: #999;
    background: #DDD;
  }

  .input_code {
    background: rgba(62,203,255,.3);
    animation: item 1s infinite;
    color: #333;
    border: none;
    width: 100%;
    margin: auto;
    font-size: 14px;
    line-height: 150%;
    padding: 0;
    margin: 0;
  }

  .input_code:focus {
    outline: none;
    animation: none;
    background: none;
  }

  .editor_left_code {
    width: calc(100% - 44px);
    padding-top: 5px;
    padding-left: 5px;
  }

  .editor_right_code {
    padding-top: 5px;
  }

  .enter {
    background: #ddd;
    border-radius: 2px;
    padding: 2px 7px 2px 7px;
    color: #666;
    border: solid 3px #999;
    border-width: 1px 1px 6px 1px;
    font-size: 9px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 8px;
  }

  .enter:hover {
    color:#181612;
  }

  .editor_code {
    position: relative;
  }

  .left_text {
    color: #AAA;
    text-align: left;
  }

  .right_text {
    text-align: left;
  }

  .plate1:hover,
  .plate2:hover {
    color: rgba(255,255,255,.6);
  }

 
  @media (max-width: 968px) {
    .panel {
        overflow-y: auto;
    }
  } 