body {
    height: auto;
    background-color: #2e2a23;
    margin: 0;
   
    color: rgba(255,255,255,.3);
    font-weight: 400;
    line-height: 150%;
}

.wrapier {
    width: 100%;
    display: flex;
}

.header {
    width: 100%;
    height: 20px;
    padding: 5px 0 0 10px;
    text-align: left;
}

.table_view {
    width: 100%;
    min-height: 310px;
    margin: 20px 0;
}

.table_view2 {
  width: 100%;
  min-height: 310px;
  margin: 50px 0 20px 0;
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 45px;
    margin-bottom: 50px;
}

.editor,
.footer {
    width: 100%;
}

.footer {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

.year {
  margin: 5px 0 0 0;
}

.rs {
  height: 30px;
}

.git {
  height: 30px;
}

.panel {
    width: 63%;
    text-align: center;
    height: 100vh;
}

.options {
    width: 37%;
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100vh;
    background-color: #181612;
}

.options_header {
    width: 100%;
    height: 10%;
}

.menu_list {
    width: 350px;
    background-color: #181612;
    display: none;
}


.help,
.help2 {
    width: 100px;
    padding: 7px 15px 7px 15px;
    background: rgba(0,0,0,.2);
    border-radius: 20px;
    color: rgba(255,255,255,.3);
    margin-bottom: 20px;
    cursor: pointer;
}


.help:hover,
.help2:hover {
    color: rgb(228, 222, 222);
}

.table,
.table2 {
    height: 150px;
    transform:  perspective(400px) rotateX(20deg);
    transform-origin: bottom;
    margin: auto;
}

.table {
  width: 300px;
}

.table2 {
  width: 410px;
}

.table_img {
    box-shadow: 0px 30px 10px rgba(0,0,0,.2);
    background: linear-gradient(#dd992d,#cd8c26);
    position: absolute;
    height: 100%;
    width: 100%;
}

.table_img2 {
  box-shadow: 0px 30px 10px rgba(0,0,0,.2);
  background: linear-gradient(#dd992d,#cd8c26);
  position: absolute;
  height: 100%;
  width: 100%;
}


.table_top, 
.table_top2 {
  padding: 19px 0;
}

.item {
    width: 100px;
    animation: itemStart .5s ease-out, item 1s infinite;
    animation-delay: 0s, .5s;
}

.plate_first,
.plate_second,
.plate_task2  {
    border-bottom: solid 5px #DDD;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 8px 0px rgba(0,0,0,.1);
    display: inline-block;
    height: 100px;
    margin: 0 10px;
}

.plate_task2 {
  width: 100px;
  position: relative;
}

.plate_task2::before {
  content: "";
  position: absolute;
  left: calc(50% - 32px);
  top: calc(50% - 32px);
  height: 65px;
  width: 65px;
  border-radius: 60px;
  border-top: solid 6px #CCC;
  opacity: .4;
}

.bento1_task2,
.bento2_task2 {
  width: 100px;
  height: 65px;
  background: brown;
  position: relative;
  border: solid 3px #711c12;
  border-width: 20px 2px;
  margin: 0 10px;
  box-shadow: 0px 8px 0px rgba(0,0,0,.1);
  display: inline-block;
  transition: transform ease-out .2s;
}

.tooltip1,
.tooltip2,
.tooltip1_task2,
.tooltip2_task2,
.tooltip3_task2 {
  display: block;
  min-width: 80px;
  height: 20px;
  background-color: white;
  padding: 2px;
  border-radius: 4px;
  color:#221f19;
  text-align: center;
  font-size: 14px;
  margin-right: 10px;
  
  visibility: hidden;
  opacity: 0;
  transition: .2s;

}

.tool,
.tool2 {
  display: flex;
  justify-content: center;
  margin-bottom: -15px;
}

.up {
  animation: upitem .3s 1;
  transform: translateY(-600px);
}

@keyframes upitem {
  0% { transform: translateY(0px) rotate3d(0,0,0,0deg); }
  100% { transform: translateY(-600px) rotate3d(0,0,0,0deg);}
}

.wrong {
  animation: wrong1 .1s 3;
}

@keyframes wrong1 {
  0%   { transform: translateX(0); }
  75% {  transform: translateX(-5px); }
}

.hover {
 visibility: visible;
 opacity: 1;
}

.color {
  color:rgb(228, 222, 222);
}

.plate_first:before,
.plate_second:before {
    content: "";
    position: absolute;
    left: calc(50% - 32px);
    top: calc(50% - 32px);
    height: 65px;
    width: 65px;
    border-radius: 60px;
    border-top: solid 6px #CCC;
    opacity: .4;
    background: rgba(255,255,255,1);
}

  @keyframes itemStart {
    0% {
      transform: skew(0deg,0deg) scaleY(1) ;
      animation-timing-function: ease-in;
     }
    40% {
      transform: skew(0deg,0deg) scaleY(.9);
      animation-timing-function: ease-out;
    }
    100% { transform: skew(4deg,0deg) scaleX(1); }
  }
  
  @keyframes item {
    0% { transform: skew(4deg,0deg) scaleX(1); }
    10% { transform: skew(1deg,0deg) scaleY(.9) ; }
    50% { transform: skew(-4deg,0deg) scaleX(1); }
    60% { transform: skew(-1deg,0deg) scaleY(.9) ; }
    100% {transform: skew(4deg,0deg) scaleX(1); }
  }


  .table_legs {
    background: #ac741c;
    height: 15px;
    transform: perspective(160px) rotateX(-40deg);
    margin: -1px 5px;
  }

  .first_leg,
  .second_leg {
    width: 24px;
    height: 10px;
    background: #84570f;
    position: absolute;
    top: 15px;
  }

  .first_leg {
    left: 20px;
  }

  .second_leg {
    right: 20px;
  }

  .editor_container {
    background-color: #221f19;
    width: 90%;
    min-height: 300px;
    margin: 0 auto 15px auto;
    display: flex;

    background-color: #181612;
    border: solid 10px rgba(0,0,0,.35);
    border-radius: 4px;
  }

  .editor_left,
  .editor_right {
    width: 50%;
    height: 100%;
  }

  .editor_header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #221f19;
    border: solid 1px rgb(68, 67, 67);
  }

  .edit_view,
  .css_html {
    margin: 0;
  }

  .edit_view {
    color: rgba(255,255,255,.6);
  }

  .editor_left {
    background: #efefef;
    border-bottom: solid 1px  rgb(68, 67, 67);
  }

  .editor_right {
    border: solid 1px  rgb(68, 67, 67);
  }

  .editor_code {
    display: flex;
  }

  .editor_left_numbers,
  .editor_right_numbers {
    height: 100%;
    width: 10%;
    max-width: 30px;
    padding: 5px 2px;
  }

  .editor_left_numbers {
    color: #999;
    background: #DDD;
  }

  .input_code {
    background: rgba(62,203,255,.3);
    animation: item 1s infinite;
    color: #333;
    border: none;
    width: 100%;
    margin: auto;
    font-size: 14px;
    line-height: 150%;
    padding: 0;
    margin: 0;
  }

  .input_code:focus {
    outline: none;
    animation: none;
    background: none;
  }

  .editor_left_code {
    width: calc(100% - 44px);
    padding-top: 5px;
    padding-left: 5px;
  }

  .editor_right_code {
    padding-top: 5px;
  }

  .editor_right_code2 {
    padding-top: 5px;
  }

  .none {
    display: none;
  }

  .block {
    display: block;
  }

  .enter {
    background: #ddd;
    outline: none;
    border-radius: 2px;
    padding: 2px 7px 2px 7px;
    color: #666;
    border: solid 3px #999;
    border-width: 1px 1px 6px 1px;
    font-size: 9px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 8px;
  }

  .enter:hover {
    color:#181612;
  }

  .editor_code {
    position: relative;
  }

  .left_text {
    color: #AAA;
    text-align: left;
  }

  .right_text {
    text-align: left;
  }

  .plate1:hover,
  .plate2:hover,
  .bento1:hover,
  .bento2:hover,
  .plate3:hover {
    color: rgba(255,255,255,.6);
  }

 
  @media (max-width: 968px) {
    .panel {
        overflow-y: auto;
    }
  } 

  @media (max-width: 820px) {
    .plate_first,
    .plate_second,
    .plate_task2 {
      height: 66px;
    }

    .bento1_task2,
    .bento2_task2 {
    height: 50px;
  }

   .bento1_task2, 
   .bento2_task2 {
     border-width: 10px 2px;
   }
    .plate_task2 {
      width: 66px;
    }

    .plate_task2::before {
      left: calc(50% - 22px);
      top: calc(50% - 22px);
      height: 42px;
      width: 42px;
    }

    .item {
      width: 60px;
    }

    .item:before {
      left: calc(50% - 22px);
      top: calc(50% - 22px);
      height: 42px;
      width: 42px;
    }

    .table {
      width: 214px;
      height: 115px;
      transform: perspective(400px) rotateX(20deg);
    }

    .table2 {
      width: 300px;
      height: 115px;
      transform: perspective(400px) rotateX(20deg);
    }

    .table_view2 {
      margin: 20px 0;
    }

    .tooltip1,
    .tooltip2,
    .tooltip1_task2,
    .tooltip2_task2,
    .tooltip3_task2 {
      font-size: 12px;
      height: 16px;
    }

    .table_legs {
        height: 10px;
        margin: 0 2px;
    }

    .first_leg, .second_leg {
      width: 18px;
      top: 10px;
      height: 7px;
  }

  .table_view,
  .table_view2 {
    min-height: 230px;
  }
}

@media (max-width: 650px) {

  .editor_header {
    padding: 5px;
    }

  .item:before {
    left: calc(50% - 16px);
    top: calc(50% - 16px);
    height: 32px;
    width: 32px;
  }

  .item {
    width: 50px;
  }

  .plate_first,
  .plate_second {
    height: 50px;
  }

  .plate_task2 {
    height: 50px;
    width: 50px;
  }

  .plate_task2::before {
    left: calc(50% - 16px);
    top: calc(50% - 16px);
    height: 32px;
    width: 32px;
  }

  

  .table {
    width: 174px;
    height: 94px;
 }

 .table2 {
  width: 250px;
  height: 94px;
 }

.table_top,
.table_top2 {
  padding: 15px 15px 22px 15px;
}
 
.bento1_task2, .bento2_task2 {
  height: 40px;
  width: 45px;
  border-width: 6px 2px;
}


 .tool,
 .tool2 {
  margin-bottom: -10px;
  margin-right: 5px;
 }

 .tooltip1,
 .tooltip2,
 .tooltip1_task2,
 .tooltip2_task2,
 .tooltip3_task2 {
  font-size: 8px;
  height: 14px;
  min-width: 40px;
  padding:  2px;
}

 .table_legs {
  height: 7px;
  margin-top: -3px;
  transform: perspective(160px) rotateX(-50deg);
}

.first_leg, 
.second_leg {
  width: 12px;
  top: 7px;
}
}